@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is a simple CRM application to display ASP.Net coding styles and ability.</p>
<p>This application uses the following technologies:</p>
<ul>
    <li>ASP.Net MVC 5</li>
    <li>Entity Framework 6</li>
    <li>Highway.Data.EntityFramework</li>
    <li>AutoFac</li>
    <li>AutoMapper</li>
    <li>Nunit</li>
</ul>

<p>
    The source code for this application can be found on GitHub at:</br >
        <a href="https://github.com/StandBackBurrito/ogsysCRM">https://github.com/StandBackBurrito/ogsysCRM</a>
</p>
