@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    12408 Lightcatcher Way<br />
    Burleson, TX 76028<br />
    <abbr title="Phone">P:</abbr>
    682.233.1310
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:justin.patterson@gmail.com">justin.patterson@gmail.com</a><br />
</address>