@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <abbr title="Phone">P:</abbr>
    682.233.1310
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:justinpatterson@gmail.com">justinpatterson@gmail.com</a><br />
</address>