@model IEnumerable<ogsysCRM.Models.Customer>

@if (Request.IsAuthenticated)
{
    <script type="text/javascript">
        window.location.href = "@Url.Action("Index","Customer")";
    </script>  
}

<div class="jumbotron">
    <h1>CRM</h1>
    <p class="lead">You must login.</p>
    <p>
        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary btn-large" })
        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary btn-large" })
    </p>
</div>